// background color main body
  
//colors
$color_background_main: #3f37c9;
$color_box_shadow_white: #ffffff;
$color_box_shadow_grey: #a3b1c6;
$color_white: #ffffff;
$color_blue: #4361ee;
$button_color: #f72585;
$link_color: #b5179e;
//box-shadows
$box_shadow_main: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box_shadow_main_inverted: inset 9px 9px 16px $color_box_shadow_grey, inset -9px -9px 16px $color_box_shadow_white;

//borders
$border_radius_main: 2px;
$border_radius_button: 2em;

//font
$font_size_small: 1.25em;
$font_size_medium: 1.5em;
$font_size_large: 1.5em;
$font_size_wide: 1.75em;

//margins
$margin_main: 1.5625rem;
