
.preview_area_container {
  display: flex;
  min-width: 0;
  flex: 1;
  justify-content: center;
  align-items: center;

  .preview {
    display: flex;
    max-width: 90%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}