@import 'styles/global/variables.scss';

.error {
    padding: 150px;
    font-size: larger;
    font-weight: bolder;
    color: $color_white;
    background-color: $color_blue;
    border-radius: 2em;  
}
